.arrow-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.arrow-button .alarm {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    border: 2px solid #FFBD3D;
    padding: 10px;
    color: #FFBD3D;
    cursor: pointer;
    pointer-events: stroke;


}

.landing-page-arrow-button-yellow {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    border: 2px solid #FFBD3D;
    padding: 10px;
    color: #FFBD3D;
    cursor: pointer;
    pointer-events: stroke;


}

.landing-page-arrow-button-blue {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    border: 2px solid #72258F;
    padding: 10px;
    color: #FFBD3D;
    cursor: pointer;
    pointer-events: stroke;


}

.landing-page-arrow-button-green {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    border: 2px solid #A3CD73;
    padding: 10px;
    color: #FFBD3D;
    cursor: pointer;
    pointer-events: stroke;


}

.landing-page-arrow-button-white {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    border: 2px solid #A2A9B4;
    padding: 10px;
    color: #FFBD3D;
    cursor: pointer;
    pointer-events: stroke;


}