.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar__first {
    width: 33.33%;
    margin-left: 78px;
}

.navbar__first img {
    height: 46.21848678588867px;
    width: 52.38095474243164px;
}

.navbar__last {
    display: flex;
    width: 32%;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    cursor: pointer;

}