.button {
    font: inherit;
    border: 1px solid #E82352;
    background: #E82352;
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: 'system-ui';
}

.button:hover,
.button:active {
    background: #E82352;
    border-color: #E82352;
}

.button:focus {
    outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
}